<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <div class="container">
        <!-- nav begins -->
        <%- include ('../partials/nav.ejs') %>
        <!-- nav ends -->

        <h3>All Active Players</h3>
        <% if (players.length === 0) { %>
            <p>No player registered</p>
        <% } else {  %>
            <ul class="collection">
                <% activePlayers.forEach(player => { %>
                    <li class="collection-item avatar">
                        <img class="circle" src="/images/<%= player.image %>.jpg" alt="<%= player.name %>"> <br>
                        <span class="title"><a href="/players/<%= player.id %>" ><%= player.name %></a></span>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                <% }) %>
            </ul>
        <% } %>

        <h3>Non Active Players</h3>
        <ul class="collection">
            <% notActivePlayers.forEach(player => { %>
                <li class="collection-item avatar">
                    <img class="circle" src="/images/<%= player.image %>.jpg" alt="<%= player.name %>"> <br>
                    <span class="title"><a href="/players/<%= player.id %>" ><%= player.name %></a></span>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            <% }) %>
        </ul>

        <p>
            <a href="/" class="waves-effect waves-light btn"><i class="material-icons">home</i></a>
            <a href="players/new" class="waves-effect waves-light btn"><i class="material-icons">person_add</i></a>
        </p>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>