<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Profile</title>
</head>
<body>
    <div class="player-profile">
        <fieldset>
            <legend><%= player.name %>'s Profile</legend>
            Name: <%= player.name %> <br>
            Position: <%= player.position %> <br>
            Jersey No.: <%= player.jersey %> <br>
            Team: <%= player.team ? player.team : 'Not assigned' %> <br>
            Active: <% if(player.isActive === true) { %>
                 ✓ 
            <% } else { %> 
                ✕
            <% } %> 
        </fieldset>
        <p>
            <button type="button" name="button"><a href="/players/<%=player._id%>/edit">Edit</a></button>
        </p>
        <form action="/players/<%= player._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
        <br>
        <button type="button" name="button">
            <a href="/players">Back</a>
        </button>
    </div>
    
</body>
</html>