<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <div>
        <h1>Team Edit Page</h1>
        <form action="/teams/<%=team.id%>?_method=PUT" method="POST" >
            <fieldset>
                <legend><%= team.teamName %> Information</legend>
                <label for="teamName">Name: </label>
                <input type="text" id="teamName" name="teamName" required value="<%= team.teamName %>" /> <br>
                <label for="manager">Manager: </label>
                <input type="text" id="manager" name="manager" required value="<%= team.manager %>" /> <br>
                <label for="teamColors">Teams Colors: </label>
                <input type="text" id="teamColors" name="teamColors" value="<%= team.teamColors %>" /> <br>
            </fieldset>
            <br>
            <fieldset>
                <legend>Current Players</legend>
                <% team.players.forEach(player => { %>
                    <input
                        type="checkbox"
                        id="<%= player.name %>"
                        name="players"
                        value="<%= player.id %>"
                        <% if (player.isActive === true) { %>
                            checked
                        <% } %>
                    />
                    <label for="<%= player.name %>"><%= player.name %>: <%= player.jersey %></label><br />
                <% }) %>
            </fieldset>
            
            <fieldset>
                <legend>Availible Players</legend>
                <ul>
                <% players.forEach(player => { %>
                    <input
                        type="checkbox"
                        id="<%= player.name %>"
                        name="players"
                        value="<%= player.id %>"
                    />
                    <label for="<%= player.name %>"><%= player.name %>: <%= player.jersey %></label><br />
                    
                <% }) %>
                </ul>
                
            </fieldset>
            <br>
            <input type="submit" value="Submit">
        </form>
        
        <br>
        <form action="/teams/<%=team.id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <br>
        <button type="button" name="button">
            <a href="/teams/<%=team.id%>">Back</a>
        </button>
    </div>
</body>
</html>