<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <div class="container blue-text text-darken-4"">
        <!-- nav begins -->
        <%- include ('../partials/nav.ejs') %>
        <!-- nav ends -->
        <h3>Available Teams</h3>
        <% if (teams.length === 0) { %>
            <p>No Teams Available</p>
        <% } else {  %>
            <% teams.forEach(team => { %>
                <a class="indigo-text text-darken-4" href="/teams/<%= team.id %>" >
                    <%= team.teamName %>
                </a> <br>
                <div class="divider"></div>
            <% }) %>
        <% } %>
        <p>
            <a href="/" class="waves-effect waves-light btn"><i class="material-icons">home </i></a>
            <a href="teams/new" class="waves-effect waves-light btn"><i class="material-icons">person_add</i></a>
        </p>
    </div>
     
    <%- include ('../partials/foot.ejs') %>
</body>
</html>